
  <body class="h-screen">
    
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <p class="text-base font-semibold text-pink-500">404</p>
        <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Página não Encontrada</h1>
        <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">A página que você busca não foi encontrada</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/" class="px-3.5 py-2.5 text-sm font-semibold  shadow-xs bg-pink-100 border-1 border-pink-400  text-pink-500 rounded transition duration-300 cursor-pointer hover:border-pink-500 hover:bg-pink-200">Retornar à home</a>
        </div>
      </div>
    </main>

  </body>


