<main>
    <div class="w-screen">
    
        
        <div class="w-80/100 md:w-1/3 mx-auto">
          <div class="relative flex flex-col w-full h-full text-slate-700 bg-white shadow-md rounded-xl bg-clip-border">
            <div class="relative mx-4 mt-4 overflow-hidden text-slate-700 bg-white rounded-none bg-clip-border">
              <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold text-slate-800">Lista de Tarefas</h3>
              </div>
            </div>
        
            <div class="p-0 overflow-x-auto">
              <table class="w-full mt-4 text-left table-auto min-w-max">
                <thead>
                  <tr>
                    <th class="p-4 transition-colors border-y border-slate-200 bg-slate-50">
                      <p class="text-sm font-normal text-slate-500">Tarefa</p>
                    </th>
                    <th class="p-4 transition-colors border-y border-slate-200 bg-slate-50">
                      <p class="text-sm font-normal text-slate-500">Status</p>
                    </th>
                    <th class="p-4 transition-colors border-y border-slate-200 bg-slate-50">
                      <p class="text-sm font-normal text-slate-500">Editar</p>
                    </th>
                    <th class="p-4 transition-colors border-y border-slate-200 bg-slate-50">
                      <p class="text-sm font-normal text-slate-500">Excluir</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tarefa of tarefasPaginadas">
                    <td class="p-4 border-b border-slate-200 max-w-[300px]">
                      <div class="flex flex-col">
                        <p class="text-sm text-slate-600 truncate" [title]="tarefa.descricao">
                          {{ tarefa.descricao }}
                        </p>
                      </div>
                    </td>
        
                    <td class="p-4 border-b border-slate-200">
                      <div class="w-max">
                        <div
                          class="px-2 py-1 text-xs font-semibold uppercase rounded-md select-none whitespace-nowrap"
                          [ngClass]="formatarStatus(tarefa.status)">
                          {{ tarefa.status }}
                        </div>
                      </div>
                    </td>
        
                    <td class="p-4 border-b border-slate-200 relative">
                      <button (click)="toggleDropdown(tarefa.id)"
                        class="dropdown-toggle h-10 w-10 flex items-center justify-center rounded-lg hover:bg-slate-900/10 relative">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                          class="w-4 h-4 text-slate-900">
                          <path
                            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                        </svg>
                      </button>
                      <div *ngIf="dropdownAberto === tarefa.id"
                        class="absolute z-10 mt-2 bg-white border border-gray-200 rounded shadow w-40 right-0">
                        <ul>
                          <li *ngFor="let status of statusOptions">
                            <button (click)="alterarStatus(tarefa.id, status)"
                              class="block w-full px-4 py-2 text-sm text-left text-slate-600 hover:bg-slate-100">
                              {{ status }}
                            </button>
                          </li>
                        </ul>
                      </div>
                    </td>
        
                    <td class="p-4 border-b border-slate-200">
                      <button (click)="excluirTarefa(tarefa.id)"
                        class="h-10 w-10 flex items-center justify-center rounded-lg text-slate-900 hover:bg-red-100 hover:text-red-900">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" stroke="currentColor"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                          <path d="M3 6h18" />
                          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                          <line x1="10" x2="10" y1="11" y2="17" />
                          <line x1="14" x2="14" y1="11" y2="17" />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
            <div class="flex items-center justify-between p-3">
              <p class="block text-sm text-slate-500">
                Página <span class="font-semibold text-slate-600">{{ paginaAtual }}</span> de {{ totalPaginas }}
              </p>
              <div class="flex gap-1">
                <button (click)="anterior()" [disabled]="paginaAtual === 1"
                  class="rounded border border-slate-300 py-2.5 px-3 text-xs font-semibold text-slate-600 hover:opacity-75 disabled:opacity-50">
                  Anterior
                </button>
                <button (click)="proxima()" [disabled]="paginaAtual === totalPaginas"
                  class="rounded border border-slate-300 py-2.5 px-3 text-xs font-semibold text-slate-600 hover:opacity-75 disabled:opacity-50">
                  Próxima
                </button>
              </div>
            </div>
          </div>
        </div>
    
    </div>
</main>

